<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<header>
    <div class="header-container">
        <a th:href="@{/index}">
            <div class="header-element">
                Головна
            </div>
        </a>
        <a th:href="@{/document/}">
            <div class="header-element">
                Документи
            </div>
        </a>
        <a th:href="@{/authentication/login}">
            <div class="header-element">
                Увійти
            </div>
        </a>
        <a th:href="@{/authentication/registration}">
            <div class="header-element">
                Зареєструватися
            </div>
        </a>
        <a th:href="@{/account}">
            <div class="header-element">
                Особистий кабінет
            </div>
        </a>
    </div>
</header>
</body>
</html>