<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<student>
    <input type="hidden" name="person" value="student">
    <!-- class Person -->
    <div class="form-group">
        <label for="name_student" class="control-label">Ім'я:</label>
        <input id="name_student" class="form-control" th:field="*{name}"/>
    </div>
    <div class="form-group">
        <label for="surname_student" class="control-label">Прізвище:</label>
        <input id="surname_student" class="form-control" th:field="*{surname}"/>
    </div>
    <div class="form-group">
        <label for="patronymic_student" class="control-label">По батькові:</label>
        <input id="patronymic_student" class="form-control" th:field="*{patronymic}"/>
    </div>
    <!-- class Employee -->
    <div class="form-group">
        <label for="faculty" class="control-label">Факультет:</label>
        <input id="faculty" class="form-control" th:field="*{faculty}"/>
    </div>
    <div class="form-group">
        <label for="degree_student" class="control-label">Освітньо-кваліфікаційний рівень:</label>
        <input id="degree_student" class="form-control" th:field="*{degree}"/>
    </div>
    <div class="form-group">
        <label for="specialty" class="control-label">Спеціальність:</label>
        <input id="specialty" class="form-control" th:field="*{specialty}"/>
    </div>
    <div class="form-group">
        <label for="year" class="control-label">Рік навчання (курс):</label>
        <input id="year" class="form-control" th:field="*{year}"/>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" value="Обрати"/>
    </div>
</student>
</body>
</html>