<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Документи</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">
    <!-- documentNotFound -->
    <div th:if="${param.documentNotFound}">
        <div class="alert alert-danger">Документ не знайдено в базі даних.</div>
    </div>
    <!-- deletionSuccess -->
    <div th:if="${param.deletionSuccess}">
        <div class="alert alert-info">Документ видалено.</div>
    </div>

    <h3>Документи</h3>
    <a th:href="@{/document/new}">
        <div class="scribe-element" style="float:none; padding: 5px; color: White; margin: 20px 0; ">
            Додати документ
        </div>
    </a>
    <br>

    <div th:each="document : ${documents}">
        <br>
        <h5 style="text-align: center;">
            <span th:text="${document.fileName}"></span>
        </h5>
        <p style="white-space: pre-line">
            <span th:text="${document.description}"></span>
        </p>
        <a th:href="@{/document/{id}(id=${document.documentId})}">
            <div class="scribe-element" style="float: none; padding: 5px;">
                Переглянути документ
            </div>
        </a>
    </div>

</div>
</body>
</html>