<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Документи</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">
    <!-- documentNotFound -->
    <div th:if="${param.documentNotFound}">
        <div class="alert alert-danger">Документ не знайдено в базі даних.</div>
    </div>
    <!-- deletionSuccess -->
    <div th:if="${param.deletionSuccess}">
        <div class="alert alert-info">Документ видалено.</div>
    </div>

    <h3>Документи</h3>


</div>
</body>
</html>