<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Редагування даних</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">

    <h3>Редагування даних</h3>
    <form th:method="put" th:action="@{/account/edit-student}" th:object="${student}">
        <div th:replace="~{account/edit/buttons :: buttons}"></div>
        <!-- class Person -->
        <div class="form-group">
            <label for="name" class="control-label">Ім'я:</label>
            <input id="name" class="form-control" th:field="*{name}"/>
        </div>
        <div class="form-group">
            <label for="surname" class="control-label">Прізвище:</label>
            <input id="surname" class="form-control" th:field="*{surname}"/>
        </div>
        <div class="form-group">
            <label for="patronymic" class="control-label">По батькові:</label>
            <input id="patronymic" class="form-control" th:field="*{patronymic}"/>
        </div>
        <!-- class Student -->
        <div class="form-group">
            <label for="faculty" class="control-label">Факультет:</label>
            <input id="faculty" class="form-control" th:field="*{faculty}"/>
        </div>
        <div class="form-group">
            <label for="degree" class="control-label">Освітньо-кваліфікаційний рівень:</label>
            <input id="degree" class="form-control" th:field="*{degree}"/>
        </div>
        <div class="form-group">
            <label for="specialty" class="control-label">Спеціальність:</label>
            <input id="specialty" class="form-control" th:field="*{specialty}"/>
        </div>
        <div class="form-group">
            <label for="year" class="control-label">Рік навчання (курс):</label>
            <input id="year" class="form-control" th:field="*{year}"/>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Зберегти"/>
        </div>
    </form>

</div>
</body>
</html>