<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Приклад роботи</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body style="text-align: justify;">
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">

    <h3>Приклад роботи</h3>

    <h6>Зміст</h6>
    <ul style="color: #3399CC; text-decoration: underline;">
        <li>
            <a href="#Створення_шаблона">
                Створення шаблона
            </a>
        </li>

        <li>
            <a href="#Завантаження_шаблона_на_сервер">
                Завантаження шаблона на сервер
            </a>
        </li>

        <li>
            <a href="#Формування_документа">
                Формування документа
            </a>
        </li>
    </ul>
    <br>

    <h6 id="Створення_шаблона">
        Створення шаблона
    </h6>
    <p>
        Шаблон являє собою звичайний файл у форматі docx (не doc).
        У потрібні місця потрібно вписати мітки або плейсхолдери – тобто ключові слова поміж
        квадратних дужок: <strong>[приклад]</strong>.
        <br>
        Деякі плейсхолдери заповняться автоматично, даними з вашого акаунту.
        Інші можна буде заповнити на відповідній сторінці під час створення кінцевого документа із шаблона.
        Повний список зарезервованих плейсхолдерів можна переглянути
        <a th:href="@{/placeholders}">*за цим посиланням*</a>.
    </p>

    <h6 id="Завантаження_шаблона_на_сервер">
        Завантаження шаблона на сервер
    </h6>
    <p>
        Перш ніж завантажувати шаблон на сервер, дайте файлу зрозумілу назву, відповідно його вмісту.
        Назва може містити в тому числі й українські символи.
        Завантажити шаблон на сервер можна <a th:href="@{/templates/new}">*тут*</a>.
        Це ж посилання є на сторінці з усіма шаблонами.
    </p>

    <h6 id="Формування_документа">
        Формування документа
    </h6>
    <p>
        На сторінці <a th:href="@{/templates}">*Шаблони*</a> представлено повний список усіх шаблонів.
        Знайдіть і оберіть потрібний вам шаблон. На сторінці певного шаблона, ви можете завантажити його оригінал,
        або почати процес формування остаточного документа, нажавши відповідну кнопку.
        В такому разі ви перейдете на сторінку, де кожному плейсхолдеру буде відповідати своє поле.
        Деякі з цих полей можуть бути вже заповнені значеннями, якщо ключове слово плейсхолдера зарезервоване
        <a th:href="@{/placeholders}">*(див. список зарезервованих плейсхолдерів)*</a>.
    </p>

</div>
</body>
</html>