
html body {
    background-color: #E5E4E2;
    color: Black;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    color: #3399CC;
    text-decoration: underline;
}

.main-container {
    background-color: White;
    width: 50%;
    margin: 100px 0 100px 25%;
    padding: 20px;
}
