<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Головна</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">
    <!-- alreadyLoggedIn -->
    <div th:if="${param.alreadyLoggedIn}">
        <div class="alert alert-info">Ви вже війшли в акаунт.</div>
    </div>
    <!-- unknownError -->
    <div th:if="${param.unknownError}">
        <div class="alert alert-danger">Сталася помилка.</div>
    </div>

    <h3>Головна сторінка</h3>

    <p>
        На даному сайті ви можете знайти або завантажити власні шаблони
        для більш швидкого та простого створення документів.
    </p>
    <p>
        Приклад роботи можна <a th:href="@{/example}">*подивитися тут*</a>.
    </p>
    <p>
        Розроблено спеціально для <a href="https://ontu.edu.ua">Одеського національного технологічного університету</a>.
    </p>
    <p>
        Зауваження, побажання та пропозиції: <a th:href="@{/example}"></a>.
    </p>

</div>
</body>
</html>