<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<div class="main-container">
    <!-- message -->
    <div th:if="${param.alreadyLoggedIn}">
        <div class="alert alert-info">Ви вже війшли в акаунт.</div>
    </div>

    <h1>Головна сторінка</h1>

</div>
</body>
</html>