<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<buttons>
    <h3>Оберіть тип акаунту</h3>
    <div class="header-container choose-container">
        <a th:href="@{/account/choose-employee}">
            <div class="header-element choose-element">
                Працівник
            </div>
        </a>
        <a th:href="@{/account/choose-student}">
            <div class="header-element choose-element">
                Студент
            </div>
        </a>
    </div>
</buttons>
</body>
</html>