<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Обрати тип акаунту</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/choose.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<div class="main-container">

    <div th:replace="~{account/choose/buttons :: buttons}"></div>

</div>
</body>
</html>