<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Шаблони</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">
    <!-- templateNotFound -->
    <div th:if="${param.templateNotFound}">
        <div class="alert alert-danger">Шаблон не знайдено в базі даних.</div>
    </div>
    <!-- deletionSuccess -->
    <div th:if="${param.deletionSuccess}">
        <div class="alert alert-info">Шаблон видалено.</div>
    </div>

    <h3>Шаблони</h3>

    <a th:href="@{/templates/new}">
        <div class="scribe-element"
             style="float:none; padding: 5px; color: White; margin: 20px 0; width:20%;">
            Додати шаблон
        </div>
    </a>
    <br><br>

    <div th:each="template : ${templates}" style="display: flex; margin: 20px 0;">
        <br>

        <div style="width: 30%; float: left;">
            <div style="display: block; text-align: center; margin-top: 10px;">
                <strong>
                    <span th:text="${template.filename}"></span>
                </strong>
            </div>
            <div style="float: none; padding: 5px; margin-top: 10px;">
                <a th:href="@{/templates/{id}(id=${template.templateId})}">
                    <div class="scribe-element" style="width: 100%">
                        Переглянути шаблон
                    </div>
                </a>
            </div>
        </div>

        <div style="width: 78%; margin-left: 2%; float: left;">
            <textarea class="form-control" th:text="${template.description}"
                      style="height: 100px; min-height: 50px;" readonly></textarea>
        </div>
    </div>

</div>
</body>
</html>