<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Додати шаблон</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-container">
    <!-- emptyFile -->
    <div th:if="${param.emptyFile}">
        <div class="alert alert-danger">Додайте файл.</div>
    </div>
    <!-- error -->
    <div th:if="${param.error}">
        <div class="alert alert-danger">Сталася помилка.</div>
    </div>
    <!-- fileExist -->
    <div th:if="${param.fileExist}">
        <div class="alert alert-danger">Такий файл все існує у базі. Переіменуйте його, або видаліть старий.</div>
    </div>

    <h4>Додати шаблон</h4>
    <form th:method="post" th:action="@{/templates}" th:object="${template}" enctype="multipart/form-data">
        <div>
            <label for="file" class="control-label">Оберіть файл:</label>
            <input id="file" class="form-control" th:field="*{file}" type="file" accept=".docx"
                   style="height: auto; padding: 0; background-color: #CDB99C; color: White;">
        </div>
        <div style="margin: 20px 0 20px 0;">
            <label for="description" class="control-label">Опис шаблона (максимум 300 символів):</label>
            <textarea id="description" class="form-control" th:field="*{description}"
                      maxlength="100" style="height:300px; min-height: 50px;"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" value="Додати"/>
        </div>
    </form>

</div>
</body>
</html>